
.onLand-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0 0 0px 200px;
}
.get-strt{
    padding: 20x;
}
.get-strt div{
    margin-bottom: 20px;
}
.title-onland{
    font-weight: 600;
    color: #5078FA;
    font-size: 32px;
}
.title-desc{
    font-size: 24px;
    color: #828282;
}
.onland-img{
   
    width: 600px;
    height:600px;
}
.card-main{
    margin-left: 5%;
    width:100%;
}
.card-pad{
    

    background: #E9EDFA;
    border-radius: 12px;
    width: 250px;
    height: 250px; 
}
.card{
    width: 300px;
    height: 300px;
   border:none;
   
    
}
.schedule-main{
    color: #4F4F4F;
    width: 50vw;
    font-size: 20px;
    text-align: left;
}

.previous-main{
    color: #4F4F4F;
    width: 50vw;
    font-size: 20px;
    text-align: left;
    
}
/* Dash */

.dash-main{

    color: #000;
    text-align: center;
    font-size: 50px;
    margin-left:10%;
    margin-top: 15%;
    width: 100vw;
}


/* Explore */



/* Activities */

.activity-main{

    color: #fff;
    text-align: center;
    font-size: 50px;
}