.nav-main{
    height: 100vh;
    width: 20vw;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 0px 24px rgba(130, 130, 130, 0.2);
    border-radius: 0px 32px 32px 0px;
    align-items: center;

}
.nav-ul{
    list-style-type: none;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 10px;
    margin: 10px;
    width: 16vw;
}
.nav-ul li{
    margin: 15px 10px;
}
.nav-link{
    
    display: flex;
    width: 100%;
    height: 100%;
    color: #828282;
    padding:10px 20px
}
.nav-link div{
    font-weight: 550;
    font-size: 24px;
    line-height: 29px;
}
a:active{
    background-color: #404251;
    border-radius: 10px;
}
.nav-link:hover{
    background-color: #5078FA;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.nav-link div{
    margin-left: 6px;
}
.ask-cet-nav{
    background-size: contain;
    width: 120px;
    height:45px;
    margin-left: 50px;
    margin-top: 60px;
}

.nav-title-main{
    font-size: 30px;
    margin-bottom: 100px;
    margin-top: -40px;
    color: #5078FA;
    font-weight: 600;
  }