.sche-card{
    background-color: #E9EDFA;
    width: 100%;
    height: 80px;
    margin-bottom:10px;
    border-radius: 12px;
    padding: 10px;
}
.mail-desc{
    font-size: 15px;
    text-align: left;
    color: #5078FA;
}
.sche-time{
    font-size: 12px;
    text-align: left;
    color: #828282;
}
.dlt-btn{
    background: none;
    color:gray;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    width:30px;
    height: 30px;
    border:none;
    min-width: max-content;
    float: right;
}