.top-bar-main{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;

}
.search-main{
    position: relative;
    display: flex;
    background: #E9EDFA;
    
    width: 25vw;
    height: 38px;
    border-radius: 10px;
}
.search-main button{
    position: absolute;
    right: 0;
    color: #999;
    background:none;
    border: none;
    height: 38px;
}
.search-input{
    width: 100%;
    background: none;
    
}
.search-input:focus {
    background: #d9def0;
    color: #fff;
    box-shadow: none;
    transition: all 0.15s ease-in-out;
}
.top-profile{
    background: url("../assets/profile.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height:50px;
    float: right;
    position: relative;
    margin-top:-5px


}
.prof-right{
    display: flex;
    
}
.prof-a{
    width: 40px;
    height:50px;
    position: absolute;
}
.drop{
    background-color:#404251 ;
}
.dr-link{
    color: rgb(228, 228, 228);
}
.dr-link:hover{
    background-color: #6d6e76;
    color: rgb(194, 194, 194);
}

